@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Sedan:wght@400;700&display=swap');
@import "tailwindcss";


@theme {
  /* Font Families */
  --font-sans: Raleway, sans-serif;
  --font-display: Sedan, sans-serif;

  /* Colors */
  --color-primary-dark: #4C6444;
  --color-primary-brown: #4D2D18;
  --color-background-beige1: #F5ECD5;
  --color-background-beige2: #FFFAEC;
  --color-background-beige3: #FFFDF7;
  --color-text-dark: #102820;
  --color-text-light: #F6FAF9;
  --color-error: #950606;
  --color-success: #056608;

  /* Font Sizes */
  --font-size-display-1: 36px;
  --font-size-heading-1: 24px;
  --font-size-heading-2: 18px;
  --font-size-heading-3: 14px;
  --font-size-heading-4: 12px;
  --font-size-paragraph-1: 14px;
  --font-size-paragraph-2: 12px;
  --font-size-icon: 20px;
  --font-size-button: 18px;
  --font-size-hyperlink: 18px;

  /* Font Weights */
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-weight-semibold: 600;

  /* Line Heights */
  --line-height-tight: 1.2;

  /* Box Shadows */
  --shadow-custom1: 0px 4px 8px rgba(0, 0, 0, 0.15);
  --shadow-custom2: 0px 4px 8px rgba(0, 0, 0, 0.10);
  --shadow-custom3: 0px 2px 4px rgba(0, 0, 0, 0.10);
}


@layer base {
  /* Map custom properties to utility classes */
  .font-display {
    font-family: var(--font-display);
  }
  .text-display-1 {
    font-size: var(--font-size-display-1);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-tight);
  }
  .text-heading-1 {
    font-size: var(--font-size-heading-1);
    font-weight: var(--font-weight-semibold);
  }
  .text-heading-2 {
    font-size: var(--font-size-heading-2);
    font-weight: var(--font-weight-semibold);
  }
  .text-heading-3 {
    font-size: var(--font-size-heading-3);
    font-weight: var(--font-weight-semibold);
  }
  .text-heading-4 {
    font-size: var(--font-size-heading-4);
    font-weight: var(--font-weight-semibold);
  }
  .text-paragraph-1 {
    font-size: var(--font-size-paragraph-1);
    font-weight: var(--font-weight-regular);
  }
  .text-paragraph-2 {
    font-size: var(--font-size-paragraph-2);
    font-weight: var(--font-weight-regular);
  }
  .text-icon {
    font-size: var(--font-size-icon);
    font-weight: var(--font-weight--regular);
  }
  .text-button {
    font-size: var(--font-size-button);
    font-weight: var(--font-weight-bold);
  }
  .text-hyperlink {
    font-size: var(--font-size-hyperlink);
    font-weight: var(--font-weight-semibold);
  }
  .bg-primary-dark {
    background-color: var(--color-primary-dark);
  }
  .bg-primary-brown {
    background-color: var(--color-primary-brown);
  }
  .bg-background-beige1 {
    background-color: var(--color-background-beige1);
  }
  .bg-background-beige2 {
    background-color: var(--color-background-beige2);
  }
  .bg-background-beige3 {
    background-color: var(--color-background-beige3);
  }
  .text-dark {
    color: var(--color-text-dark);
  }
  .text-light {
    color: var(--color-text-light);
  }
  .text-error {
    color: var(--color-error);
  }
  .text-success {
    color: var(--color-success);
  }
  .shadow-custom1 {
    box-shadow: var(--shadow-custom1);
  }
  .shadow-custom2 {
    box-shadow: var(--shadow-custom2);
  }
  .shadow-custom3 {
    box-shadow: var(--shadow-custom3);
  }

  .scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: var(--color-primary-brown) var(--color-background-beige1); /* or add it to the track */
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: var(--color-primary-brown);
    border-radius: 4px;
    background-clip: padding-box;
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  20%, 60% {
    transform: translateX(-6px);
  }
  40%, 80% {
    transform: translateX(6px);
  }
}

.animate-shake {
  animation: shake 0.4s ease-in-out;
}